@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@theme {
  --font-sans:
    -apple-system, BlinkMacSystemFont, Roboto, 'Hiragino Sans', 'Noto Sans JP',
    sans-serif;
  --color-background: oklch(0.1 0.01 330);
  --color-foreground: oklch(0.98 0.01 80);
  --color-card: oklch(0.24 0.02 330);
  --color-primary: oklch(0.6 0.2 338);
  --color-muted-foreground: oklch(0.55 0.02 330);
  --color-destructive: oklch(0.58 0.23 20);
  --color-border: oklch(0.28 0.03 330);
  --radius-sm: 0.45rem;
  --radius-md: 0.6rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1.05rem;
  --radius-2xl: 1.35rem;
  --radius-3xl: 1.65rem;
  --radius-4xl: 1.95rem;
}

@layer base {
  * {
    @apply border-border outline-primary/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
