# Renderの管理画面参照
GO_ENV=dev
PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=
REDIS_HOST=
REDIS_PORT=
WS_PONG_WAIT_MS=
SECRET=
API_DOMAIN=
FE_URL=
# Cloudflare R2(検証環境ではAWS S3は使わない)
S3_ENDPOINT=
S3_REGION=auto
S3_BUCKET=
S3_ACCESS_KEY=
S3_SECRET_KEY=
IMAGE_BASE_URL=
GOOGLE_CLIENT_ID=

